* { margin: 0; padding: 0; }

body { font: 16px Helvetica, Sans-Serif;
        line-height: 24px;
        background: url(images/noise.jpg); }

img{
        width: 200px;
        height: 250px;
        border:5px solid #3498db;
}

.clear { clear: both; }

#page-wrap { width: 800px; 
             margin: 40px auto 60px;
             padding: 15px;
             border:3px solid #2c3e50; }

#pic { float: right;
       margin: -30px 0 0 0; }

h1 { margin: 0 0 16px 0; 
     padding: 0 0 16px 0;
     font-size: 42px;
     font-weight: bold;
     letter-spacing: -2px;
     border-bottom: 1px solid #999;
     color: #3498db; }

h2 { font-size: 20px;
     margin: 0 0 6px 0;
     position: relative;
     color: #2980b9; }

h2 span { position: absolute;
          bottom: 0; right: 0; 
          font-style: italic; 
          font-family: Georgia, Serif;
          font-size: 16px; 
          color: #999;
          font-weight: normal; }

p { margin: 0 0 16px 0; 
   color: #34495e;}

a { color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #999; }

a:hover { border-bottom-style: solid;
          color: #3498db; }

ul { margin: 0 0 32px 17px; }

#objective { width: 500px; 
             float: left; }

#objective p {  font-family: Georgia, Serif; 
                font-style: italic; 
                color: #2c3e50; }
dt {    
    font-style: italic;
    font-weight: bold; 
    font-size: 18px; 
    text-align: right; 
    padding: 0 26px 0 0; 
    width: 150px; 
    float: left; 
    height: 100px; 
    border-right: 1px solid #999; 
    color: #3498db;
          }

dd { width: 600px;
 float: right; }

dd.clear { float: none; 
        margin: 0; 
        height: 15px; }

footer{
        padding: 5px;
        text-align: center;
        background-color: #34495e;
}
footer p{
        color: white;
        padding-top: 5px
}